worker_processes {{ webserver_nginx_worker_processes }};
worker_rlimit_nofile {{ webserver_nginx_worker_rlimit_nofile }};

events {
    worker_connections {{ webserver_nginx_worker_connections }};
}

http {
    log_format main '{{ webserver_nginx_log_format }}';

    access_log {{ webserver_nginx_access_log }} main;
    error_log {{ webserver_nginx_error_log }} {{ webserver_nginx_error_log_level }};

    sendfile {{ webserver_nginx_sendfile | default("on") }};
    tcp_nopush {{ webserver_nginx_tcp_nopush | default("on") }};
    tcp_nodelay {{ webserver_nginx_tcp_nodelay | default("on") }};
    keepalive_timeout {{ webserver_nginx_keepalive_timeout | default(65) }};
    types_hash_max_size {{ webserver_nginx_types_hash_max_size | default(2048) }};

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    server {
        listen {{ webserver_nginx_port }};
        server_name {{ webserver_nginx_server_name }};

        root {{ webserver_nginx_root }};
        index {{ webserver_nginx_index }};

        location / {
            try_files $uri $uri/ =404;
        }
    }
}
